version: 2
updates:
  - package-ecosystem: "npm"
    directory: "/"
    schedule:
      interval: "weekly"
    groups:
      dev-dependencies:
        patterns:
          - "@types/*"
          - "typescript"
          - "vitest"
          - "turbo"
      react:
        patterns:
          - "react"
          - "react-dom"
          - "@types/react*"
      expo:
        patterns:
          - "expo*"
          - "react-native*"

  - package-ecosystem: "github-actions"
    directory: "/"
    schedule:
      interval: "weekly"
